.wrapper {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 21px;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    background-color: white;
    user-select: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    + .wrapper {
        margin-left: 16px;
    }
    &.disabled {
        opacity: 0.5;
        cursor: default;
        pointer-events: none;
    }
}
.primary {
    min-width: 100px;
    min-height: 36px;
    color: white;
    background-color: var(--primary);
    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}
.reverse {
    min-width: 100px;
    color: var(--primary);
    border-color: currentColor;
    border-radius: 2px;
    &:hover {
        background-color: rgba(254, 44, 85, 0.08);
    }
}
.text {
    min-width: 110px;
    height: 36px;
    border: 1px solid rgba(22, 24, 35, 0.12);
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}
.rounded {
    min-width: 90px;
    height: 32px;
    padding: 0 8px;
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 52px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
    font-size: 14px;
    line-height: 30px;
    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
    }
}
.small {
    min-width: 96px;
    height: 36px;
    padding: 1px 15px;
    line-height: 32px;
}
.large {
    line-height: 34px;
    min-width: 208px;
    padding: 6px 8px;
}
.icon {
    width: 20px;
    text-align: center;
}
.icon + .tittle,
.tittle + .icon {
    margin-left: 10px;
}

.active {
    color: var(--primary);
}
