.wrapper {
    width: 224px;
    .menuItemsWrapper {
        max-height: 590px;
        overflow-y: overlay;
    }
    .list {
        padding-bottom: 8px;
        .item {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            padding: 10px 8px 10px 16px;
            margin: 0;
            color: rgb(22, 24, 35);
            font-weight: 600;
            font-size: 16px;
            border: none;
            border-radius: 0;
            &.compartment {
                border-top: 1px rgba(22, 24, 35, 0.5) solid;
            }
            &:hover {
                background-color: rgba(22, 24, 35, 0.03);
            }
        }
    }
}

//header

.header {
    height: 50px;
    width: 100%;
    background-color: white;
    margin-top: -8px;
    display: flex;
    position: relative;
}
.backBtn {
    width: 48px;
    height: 100%;
    background-color: transparent;
    font-size: 20px;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
.headerTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
