.wrapper {
    width: 224px;
    .list {
        padding-bottom: 8px;
        .item {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            padding: 10px 8px 10px 16px;
            margin: 0;
            color: rgb(22, 24, 35);
            font-weight: 600;
            font-size: 16px;
            border: none;
            border-radius: 0;
            &:hover {
                background-color: rgba(22, 24, 35, 0.03);
            }
        }
    }
}

//header

.header {
    position: relative;
    margin-top: -8px;
    height: 50px;
}
.backBtn {
    width: 48px;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 20px;
}
.headerTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
