.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --logo-height: 42px;

    height: 60px;
    width: 100%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
    position: fixed;
    top: 0;
    .inner {
        height: 100%;
        padding: 0 24px 0 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            min-width: 300px;
            display: flex;
            align-items: center;
            height: var(--logo-height);
            a {
                height: 100%;
            }
        }

        .searchBar,
        .searchResult {
            width: 500px;
            min-width: 184px;
        }

        .searchBar {
            background-color: rgba(22, 24, 35, 0.06);
            height: var(--search-height);
            padding: 12px 16px;
            border: 1px solid transparent;
            border-radius: var(--search-border-radius);
            margin: 0 8px;
            display: flex;
            align-items: center;
            position: relative;
            input {
                width: 430px;
                min-width: 0px;
                height: 21px;
                background-color: transparent;
                border: none;
                &:focus {
                    border: none;
                    outline: none;
                }
            }
            .closeBtn,
            .loadingIcon {
                width: 40px;
                border: none;
                background-color: transparent;
                color: #a6a7ab;
                position: absolute;
                right: 52px;
            }
            .loadingBtn {
                visibility: hidden;
            }
            .searchBtn {
                padding: 12px 16px 9px 16px;
                margin: -16px -16px;
                margin-left: 0;
                border-top-right-radius: var(--search-border-radius);
                border-bottom-right-radius: var(--search-border-radius);
                border: none;
                outline: none;
                color: rgb(87, 86, 111);
                background-color: transparent;
                svg {
                    width: 20px;
                    height: 20px;
                }
            }
            &::after {
                content: '';
                width: 1px;
                height: calc(var(--search-height) - 18px);
                background-color: #d6d6d6;
                position: absolute;
                right: 52px;
            }
            &:hover {
                border-color: #b8b9bd;
                .searchBtn {
                    background-color: #e5e5e7;
                }
            }
            &:focus-within {
                border-color: #b8b9bd;
            }
        }
        .searchResult {
            overflow: hidden;
            min-height: 100px;
            height: min((100vh - 96px) - 60px, 734px);
            position: relative;
            .accountTitle {
                height: 30px;
                padding: 5px 12px;
                font-size: 1.4rem;
                line-height: 18px;
                letter-spacing: 0.093px;
                font-weight: 600;
                color: rgba(22, 24, 35, 0.5);
            }
        }
        .buttonContainer {
            .plusIcon {
                width: 10px;
                margin-right: 8px;
            }
        }
    }
}
